/*Rodapé*/
.bg-rodape1{
    background-color: #312b45
}

/*Ajusta o padding*/
.bg-rodape1 ul {
    -moz-padding-start: 0%;
    -webkit-padding-start: 0%;
}

.bg-rodape1 ul li{
    list-style: none; 
}

.bg-card-rodape{
    background-color: #ff3859;    
}

.icon-banner-rodape{
    color: #c42841;
}

/*Configurações gerais*/
.underline-footer{
    content: '';
    border-top: 2px solid #ff3859;
    width: 70px;
    display: block;
    margin-top: 5px;
}